# Rewrite engine
RewriteEngine on

# optionnal directive ?
# AcceptPathInfo On 

# not a folder
RewriteCond %{REQUEST_FILENAME} !-f

# not a folder
RewriteCond %{REQUEST_FILENAME} !-d

# rewrite url as path_info
RewriteRule (.*) index.php/$1 [L]
