
@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-Bold.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bolder;
}

@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Neuropol';
    src:url('../fonts/neuropol.ttf');
}