@charset "UTF-8";

@import 'root.css';
@import 'sizes.css';
@import 'flexs.css';
@import 'medias.css';
@import 'funnylists.css';
@import 'fonts.css';
@import 'popups.css';
@import 'forms.css';
@import 'widgets.css';

.container {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.726);
}

h1 {
    font-size:3em;
    padding:1.15em;  
    font-weight: bold;
}

h2 {
    font-size:2em;
    padding:.85em;  
    font-weight: bold;
}

h3 {
    font-size:1.5em;
    padding:1em;
    font-weight: bold;
}

h4 {
    font-size:1.15em;
    padding:1em;  
    font-weight: bold;
}

h5 {
    font-size:1em;
    padding:1em;
}

h6 {
    font-size:1em;
    padding:1em;
}

p {
    text-indent: 2em;
    text-align: justify;
}

a {
    color:var(--link-color);
    &:hover{
        color:var(--link-color-hover);
    }
}

ul, ol {
    text-align:left;
    padding:0;
    li {
        list-style: none;
    }
}

.hidden {
    display: none;
}

#core {
    #leftaside {
        padding:1.5em;
        color:white;
        background-color: rgb(41, 41, 85);  

        img.leftAsided {
            margin-left:-1.5em;
            width:100%;
            transform: translate(-20px);
        }
    }

    #main {
        #header {
            background-image: url('../medias/see&boat.jpg');
            background-size: cover;
            background-attachment: fixed;
            min-height:50vh;
        
            div {
                padding:2em;
                background-color: #fffc;
                color: #000d;
                p {
                    font-family :'Neuropol';
                    
                    &:after{
                        animation: 1s slidein infinite;                     
                        @keyframes slidein {
                            from {
                                content:'░';
                            }
                            to {
                                content:'▓';
                            }
                        }
                    }
                }
                // width: 100%;
            }
        }
    }

    #main section {

        padding:1.5em;
        background-color: white;

        
    }
}


#nav {
    z-index: 10;
    position:sticky;
    top:0px;
    background-color: #000d;
    color:white;

    .container{

        a {
            color:white;
            &:link, &:visited, &:focus {
                color:white;
                text-decoration: none;
            }
        }

        img {
            display:inline;
        }
        .nav-elem {
            padding:.5em;
        }

        .leftmenu, .leftmenu * {
            display: inline-block;
            display:flex;
            align-items: center;

            img {
                margin-right:1em;
            }

        }

        #menu-area {
            display:block;

            ul {
                display:none;
                margin:0;
                padding:0;
                padding-top: 0.5em;;
                border-radius: .5em;

                li {
                    margin-top:.1em;
                    margin-bottom:.1em;
                    background-color: #000d;
                    min-width: 150px;
                   
                    a {
                        color:white;
                    }
                    
                    padding:.5em;
                    border-left: 2px solid var(--link-color);
                    
                    &:hover {
                        border-left: 2px solid var(--link-color-hover);
                        background-color: #000f;
                    }
                }
            }

            
            &:hover ul {
                position:absolute;
                display:block;
            }

            &:before {
                content : "☰ Menu";
            }

        }
    }
}

#footer {
    div {
        background-color: #ccc;
        color:white;
        
        div {
            padding:1em;
            &:first-child{
                display: inherit;
                background-color: inherit;
            }
        }        
    }

    .title {
        padding-top:.5em;
        padding-bottom:.5em;
        display: inherit;   // pour tuer le flex
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .25em;
        background-color: #444;
    }
}

